<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.overscore.persistence.BoardMapper">

    <select id="selectBoard" resultType="kr.co.overscore.model.board.BoardModel" parameterType="java.util.HashMap">
        SELECT BOARD_ID, BOARD_NAME
        FROM BOARD
        WHERE BOARD_ID = #{boardId}
    </select>

    <select id="selectBoardList" resultType="kr.co.overscore.model.board.BoardListModel"
            parameterType="java.util.HashMap">
        SELECT `IDX`,
               `IS_NOTICE`,
               `TITLE`,
               `TITLE_BOLD`,
               `TITLE_COLOR`,
               `CONTENT`,
               `VIEW_CNT`,
               `LIKE_CNT`,
               `DISLIKE_CNT`,
               `USER_ID`,
               `USER_NAME`,
               `STATUS`,
               `IS_DELETE`,
               `INS_DATE`
        FROM ${boardId}
        ORDER BY IDX DESC;
    </select>

</mapper>